*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signup-container{
    /* margin: 5rem auto; */
    padding: 5rem;
    background: url('../../assets/worldblooddonorbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 10rem;
    height: 6rem;
}
.heading{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: #c21c2a;
}
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}
  
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-container input[type="radio"] {
    width: 20px;
    margin-bottom: 0;
    margin-right: 5px;
    display: inline;
} 
.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.selectComponent{
    margin-bottom: 1rem;
}
.form-container input[type="submit"]:hover {
    background-color: #3e8e41;
}
.formbtnandlink{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
}
.btn{
    background: linear-gradient(to right, #50c9c3, #96deda);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background: #c21c2a;
}
.infotext{
    color: red;
}