.tipscard{
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    width: 25rem;
    background-color: #fff;
}
.tipscardlistcontainer{
    padding: 10px 10px;
}
.tipscardlist{
    list-style: none;
    padding: 10px 0;
}
.tipscardlist::before{
    content: "✔";
    color: #c40404;
    margin-right: 10px;
}