.totalContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/worldblooddonorbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.loginContainer{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}
.logo{
    width: 10rem;
    height: 6rem;
    margin: 10px 0;
}
.formContainer{
    margin: 30px 40px;
}
.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.formContainer label,input{
    display: block;
} 
.formContainer label{
    margin: 10px 0;
}
.formContainer input{
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 17rem;
}
.formContainer input:focus{
    border: 2px solid #5ED1DC;
}
.formContainer a{
    color: red;
    cursor: pointer;
}
.formContainer button{
    margin: 10px 0 5px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none; 
    background: linear-gradient(to right, #50c9c3, #96deda);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.formContainer button:hover{
    background: #c21c2a;
}
.formContainer .disabled{
    border: 1px solid #ccc;
    background: #c6bfbf;
    cursor: not-allowed;
}
.formContainer .disabled:hover{
    background: #c6bfbf;
}
.heading{
    color: #c21c2a;
}
.infotext{
    display: block;
    text-align: center;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px 0;
}